.accordion {
    border: 1px solid var(--secondary-color);
}
.accordion-header {
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
}
.accordion-content {
    padding: 15px;
    display: none;
    border-top: 1px solid var(--secondary-color);
}
.accordion-content.active {
    display: block !important;
}
