/* Cloak Component Stylesheet */

.cloak {
    opacity: 0;
    pointer-events: none;
}

.remove-cloak {
    opacity: 1;
    pointer-events: auto;
    transition: opacity 1s ease-in-out;
}

.add-cloak {
    opacity: 0;
    pointer-events: none;
    transition: opacity 1s ease-in-out;
}
